<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<span th:replace="./index::header-links"></span>
<body id="top">

	<!-- Top Background Image Wrapper -->
	<div class="bgded row100"
		style="background-image: url('../images/demo/backgrounds/armyHomePageImage.jpg');">
		<div class="overlay">
			<span th:replace="./index::menu_bar"></span>
		</div>
	</div>
	<!-- End Top Background Image Wrapper -->

	<!-- ################################################################################################ -->
	<div class="wrapper row3">
		<main class="containerG clear">

			<!-- main body -->
			<!-- ################################################################################################ -->
			<div class="content">
				<!-- ################################################################################################ -->
				<h1>
					<span style="color: #0000ff;"><strong>Age limit,
							Education Qualification UK State Indian Army Bharti</strong></span>
				</h1>
				<!-- <img class="imgr borderedbox inspace-5"
					src="../images/demo/imgr.gif" alt=""> -->
				<!-- <p>Aliquatjusto quisque nam consequat doloreet vest orna partur
					scetur portortis nam. Metadipiscing eget facilis elit sagittis
					felisi eger id justo maurisus convallicitur.</p>
				<p>
					Dapiensociis <a href="#">temper donec auctortortis cumsan</a> et
					curabitur condis lorem loborttis leo. Ipsumcommodo libero nunc at
					in velis tincidunt pellentum tincidunt vel lorem.
				</p>
				
				<p>
					This is a W3C compliant free website template from <a
						href="https://www.os-templates.com/"
						title="Free Website Templates">OS Templates</a>. For full terms of
					use of this template please read our <a
						href="https://www.os-templates.com/template-terms">website
						template licence</a>.
				</p>
				<p>
					You can use and modify the template for both personal and
					commercial use. You must keep all copyright information and credit
					links in the template and associated files. For more website
					templates visit our <a href="https://www.os-templates.com/">free
						website templates</a> section.
				</p>
				<p>Portortornec condimenterdum eget consectetuer condis
					consequam pretium pellus sed mauris enim. Puruselit mauris nulla
					hendimentesque elit semper nam a sapien urna sempus.</p> -->
				<!-- <h1>Table(s)</h1> -->
				<div class="scrollable table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th colspan="4"><span
									style="font-size: 14pt; color: #FF1493"><strong>Age
											Limit Education Qualification Indian Army</strong></span></th>
								<!-- <th>Header 2</th>
								<th>Header 3</th>
								<th>Header 4</th> -->
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span style="font-size: 12pt; color: #0000FF"><strong>Soldier
											Post</strong></span></td>
								<td><span style="font-size: 12pt; color: #0000FF"><strong>Age
											Limit</strong></span></td>
								<td><span style="font-size: 12pt; color: #0000FF"><strong>Education
											Qualification</strong></span></td>
							</tr>
							<tr>
								<td>Soldier General<br>Duty
								</td>
								<td>17 ½ to 23 years</td>
								<td>10th Simple Pass/ 8th pass for few trades</td>
							</tr>
							<tr>
								<td>Soldier Clerk/ SKT</td>
								<td>17 ½ to 23 years</td>
								<td>10+2 Pass with 50% in each subject and 60% in aggregate
									with English/maths</td>
							</tr>
							<tr>
								<td>Soldier Tech</td>
								<td>17 ½ to 23 years</td>
								<td>12th pass with 40% in each subject and 50% in aggregate
									wth physics, chemestry, maths &amp; English</td>
							</tr>
							<tr>
								<td>Sepoy <br> Pharma
								</td>
								<td>19 to 25 years</td>
								<td>10+2 or equivalent exam pass in Science with Physics,
									Chemistry, Biology and English. Qualified in D Pharma with min
									55% marks in aggregate</td>
							</tr>
							<tr>
								<td>Havildar <br> Surveyor<br>
								</td>
								<td>20 to 25 years</td>
								<td>BSc with Math’s and having passed 12th class (10+2) or
									equivalent with maths and science.</td>
							</tr>
							<tr>
								<td>Religious <br> Teacher
								</td>
								<td>27 to 34 years</td>
								<td>Hindu candidates with Acharya in Sanskrit<br> OR <a
									href="https://kikali.in/sena-dharm-shikshak-pandit-moulvi-granthi-padri-bharti/"
									rel="noopener" target="_blank">(<strong>more
											information</strong>)
								</a><br> Shastri in Sanskrit with one-year diploma in "Karam
									Kand‟.
								</td>
							</tr>
							<tr>
								<td>JCO <br> Catering
								</td>
								<td>21 to 27 years</td>
								<td>10+2 with diploma /certificate course of a duration of
									year or more in cookery /hotel management</td>
							</tr>
							<tr>
								<td>Territorial <br> Army
								</td>
								<td>18 to 42 years</td>
								<td>10th pass</td>
							</tr>
						</tbody>
					</table>

					<p><h4>
						<span style="color: #0000ff;"><strong>Physical
								Standard</strong></span>: Physical Standard Required to join Indian Army for
						Uttarakhand State is as under:-
					</h4></p>

					<div class="table-responsive">

						<table class="table">
							<thead>
								<tr>
									<th colspan="4"><span
										style="font-size: 14pt; color: #FF1493";><strong>Physical
												Standard UK, HP, J &amp; K to join Indian Army</strong></span></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><span style="font-size: 12pt; color: #0000FF"><strong>Soldier
												Post</strong></span></td>
									<td><span style="font-size: 12pt; color: #0000FF"><strong>Height
												in cm</strong></span></td>
									<td><span style="font-size: 12pt; color: #0000FF"><strong>Chest
												in cm</strong></span></td>
									<td><span style="font-size: 12pt; color: #0000FF"><strong>Weight
												in kg</strong></span></td>
								</tr>
								<tr>
									<td>All Soldier <br> Trade except <br> given
										below
									</td>
									<td>163</td>
									<td>77/82</td>
									<td>48</td>
								</tr>
								<tr>
									<td>Religious <br> Teacher
									</td>
									<td>160</td>
									<td>77/82</td>
									<td>48</td>
								</tr>
								<tr>
									<td>Soldier <br> Clerk/SKT
									</td>
									<td>162</td>
									<td>77/82</td>
									<td>48</td>
								</tr>
								<tr>
									<td>ST <br> Candidates
									</td>
									<td>162</td>
									<td>77/82</td>
									<td>48</td>
								</tr>
								<tr>
									<td>Soldier<br> TA
									</td>
									<td>160</td>
									<td>77/82</td>
									<td>48</td>
								</tr>
							</tbody>
						</table>

						<h4 style="text-align: center;">
							<strong><span style="color: #0000ff;">Physical
									Fitness Test (PFT) Indian Army</span></strong>
						</h4>

						<div class="table-responsive">

							<table class="table">
								<thead>
									<tr>
										<th>Soldier Post Trade/ Category of</th>
										<th>Time</th>
										<th>Group</th>
										<th>Marks</th>
									</tr>
								</thead>
								<tbody class="row-hover">
									<tr>
										<td rowspan="2">Soldier GD, Sol Tech, Sol Clk, Sol NA,
											Sol Tdn, SPY<br>
										</td>
										<td>Upto 5 Minute 30 Seconds</td>
										<td>Group I</td>
										<td>60 Marks</td>
									</tr>
									<tr>
										<td>5 Minute 31 second to<br> 5 minute 45 seconds
										</td>
										<td>Group II</td>
										<td>48 Marks</td>
									</tr>

									<tr>
										<td>RT JCO Up to 30 years of age</td>
										<td>Should be able to run in 05 Minutes 45 seconds.<br>
										</td>
										<td>Qualified</td>
										<td>Qualified</td>
									</tr>
									<tr>
										<td>RT JCO Beyond 30 years of age</td>
										<td>Should be able to run in 06 Minutes 30 seconds</td>
										<td>Qualified</td>
										<td>Qualified</td>
									</tr>
									<tr>
										<td colspan="4">Provisions for Extra Time for 1.6 km run
											in Hilly Terrain Areas. <br> Conduct of 1600 Mtr Race in
											the Hilly Terrain Areas will be as under :-
										</td>
									</tr>
									<tr>
										<td colspan="4">(i) Upto 5000 Ft as above.<br> (ii)
											Between 5000 Ft to 9000 Ft- Add 30 Secs.<br> (iii)
											Between 9000 Ft to 12000 Ft–Add 120 Secs.
										</td>
									</tr>
								</tbody>
							</table>

							<p><h4>
								<strong><span style="color: #0000ff;">Beam Test
										Indian Army</span></strong>
							</h4></p>


							<div  class="table-responsive">
								<table class="table">
									<thead>
										<tr >
											<th colspan="2" ><strong>Pull
													ups Chin Touch on Beam</strong></th>
											<th colspan="4" ><strong>Number
													of Pull Ups on Beam and Marks</strong></th>
										</tr>
									</thead>
									<tbody class="row-hover">
										<tr >
											<td >Number of Pull ups on Beam, Minimum
												<br> 6 Pull ups and maximum 10 Pull ups<br>
											</td>
											<td >6</td>
											<td >7</td>
											<td >8</td>
											<td >9</td>
											<td >10</td>
										</tr>
										<tr >
											<td >Marks Given for 6 to<br> 10
												pull ups on Beam
											</td>
											<td >16</td>
											<td >21</td>
											<td >27</td>
											<td >33</td>
											<td >40</td>
										</tr>
										<tr >
											<td ><strong>9 Feet Ditch Jump
											</strong></td>
											<td >-</td>
											<td >-</td>
											<td >-</td>
											<td >-</td>
											<td >Qualify</td>
										</tr>
										<tr >
											<td ><strong>Body Balance on
													Zig Zag </strong></td>
											<td >-</td>
											<td >-</td>
											<td >-</td>
											<td >-</td>
											<td >Qualify</td>
										</tr>

									</tbody>
								</table>

								<p><h4>
									<span style="color: #0000ff;"><strong>List of
											Documents in original</strong></span></h4>
								</p>

								<ul class="list-group">
									<li class="list-group-item">Admit Card/Hall Ticket</li>
									<li class="list-group-item">All education certificates and mark sheets</li>
									<li class="list-group-item">Residence Certificate</li>
									<li class="list-group-item">Character Certificate</li>
									<li class="list-group-item">Un-Married Certificate</li>
									<li class="list-group-item">NCC Certificate</li>
									<li class="list-group-item">Sports Certificate</li>
									<li class="list-group-item">Caste Certificate</li>
									<li class="list-group-item">Photographs 20</li>
									<li class="list-group-item">Relation Certificate (For relation candidates)</li>
									<li class="list-group-item">Discharge book (for Son of ESM)</li>
									<li class="list-group-item">PAN Card</li>
									<li class="list-group-item">Single bank account number</li>
									<li class="list-group-item">Affidavit of Rs 10 duly signed by notary</li>
									<li class="list-group-item">Outsider Sanction for (Outsider candidates)</li>
									<li class="list-group-item">Xerox copies of all documents (3 sets)</li>
								</ul>

								<p><h4>
									<span style="color: #0000ff;"><strong>Medical
											Test Indian Army</strong></span>: On completion of physical fitness test/
									physical measurement test/ documentation all candidates have to
									through medical test for UK army rally bharti:-</h4>
								</p>

								<ul class="list-group">
									<li class="list-group-item">A candidate should have robust physique and good
										mental health.</li>
								
								
									<li class="list-group-item">Chest should be well developed having minimum 5 cms
										expension.</li>
								
								
									<li class="list-group-item">Should have normal hearing with each ear and good
										binocular vision in both eyes.</li>
								
									<li class="list-group-item">He should be able to read 6/6 in distant vision chart
										with each eye.</li>
								
									<li class="list-group-item">Colour vision should be CP – III (able to recognize
										white, red and green signal colours correctly as shown by
										Martin’s Lantern at 1.5 meters).</li>
								
									<li class="list-group-item">Should have sufficient number of natural healthy gum
										and teeth i.e. minimum 14 dental points.</li>
								
									<li class="list-group-item">Should not have diseases like deformity of bones,
										hydrocele and varicocele or piles.</li>
								
									<li class="list-group-item">Soldier General Duty for Infantry should have 6/6 eye
										sight.</li>
							
									<li class="list-group-item">Soldier General Duty for Infantry should have 6/6 eye
										sight.</li>
								</ul>

								<div class="table-responsive">

									<table class="table">
										<thead>
											<tr >
												<th >Army<br> Exam<br>
													Soldier<br> Trade<br>
												</th>
												<th >Subject<br> Test
												</th>
												<th >Paper/<br> Parts
												</th>
												<th >Passing<br> Marks
												</th>
												<th >Total<br> Quest-<br>
													ions
												</th>
												<th>Marks<br> for<br> Each<br>
													Ques-<br> tion<br>
												</th>
												<th >Minus<br> Marks<br> for
													each<br> wrong<br> answer<br>
												</th>
											</tr>
										</thead>
										<tbody class="row-hover">
											<tr >
												<td >Soldier GD/<br> SHGD
												</td>
												<td >GK, Gen<br> Science,<br>
													Maths
												</td>
												<td >One<br> Paper<br> only
												</td>
												<td >100/35</td>
												<td >50</td>
												<td>02</td>
												<td>½ Mark</td>
											</tr>
											<tr >
												<td >Soldier<br> Tdn
												</td>
												<td >GK &amp;<br> Maths
												</td>
												<td >One<br> Paper<br> only
												</td>
												<td >100/32</td>
												<td >50</td>
												<td >02</td>
												<td >½ Mark</td>
											</tr>
											<tr >
												<td >Soldier<br> Tech
												</td>
												<td >GK, Phy,<br> Chem &amp;<br>
													Maths
												</td>
												<td >One<br> Paper<br> only
												</td>
												<td >200/80</td>
												<td >50</td>
												<td >04</td>
												<td >1 Mark</td>
											</tr>
											<tr >
												<td >Soldier<br> NA
												</td>
												<td >GK, Bio,<br> Chemistry,<br>
													Physics &amp;<br> Math
												</td>
												<td >One<br> Paper<br> only
												</td>
												<td >200/80</td>
												<td >50</td>
												<td >04</td>
												<td >1 Mark</td>
											</tr>
											<tr >
												<td rowspan="2" >Soldier<br> SKT<br>
													(One Paper<br> only)<br>
												</td>
												<td >GK &amp; Gen<br> Awareness,<br>
													Maths<br> &amp; Cmptr
												</td>
												<td >Part I</td>
												<td >100/40</td>
												<td >25</td>
												<td >04</td>
												<td >1 Mark</td>
											</tr>
											<tr >
												<td >English<br> Language
												</td>
												<td >Part II</td>
												<td >100/40</td>
												<td >25</td>
												<td>04</td>
												<td >1 Mark</td>
											</tr>
											
										</tbody>
									</table>

									<h4 style="text-align: center;">
										<span style="color: #0000ff;"><strong>Award of
												Bonus Marks SOS/ NCC Candidates/ Computer Course/ Sportsmen
												to Join Indian Army</strong></span>
									</h4>

									<div class="table-responsive">

										<table class="table">
											<thead>
												<tr >
													<th >Category</th>
													<th >Soldier <br> General <br>
														Duty
													</th>
													<th >Sol Clk/ SKT, Sol Tech, Sol
														Tech(Avn &amp; Amn), Sol NA,</th>
													<th >Soldier<br> Tradesmen<br>
													</th>
												</tr>
											</thead>
											<tbody class="row-hover">
												<tr >
													<td >Son of Servicemen /Son of
														Ex-Servicemen/ <br> Son of War Widow /Son of Widow <br>
														(One Son only)
													</td>
													<td >20 Marks</td>
													<td >20 Marks</td>
													<td >20 Marks</td>
												</tr>
												<tr >
													<td >National Cadets Corps ‘A’
														Certificate</td>
													<td >05 Marks</td>
													<td >05 Marks</td>
													<td >05 Marks</td>
												</tr>
												<tr >
													<td >NCC ‘B’ Certificate Holder</td>
													<td >10 Marks</td>
													<td >10 Marks</td>
													<td >10 Marks</td>
												</tr>
												<tr >
													<td >NCC ‘C’ Certificate Holder</td>
													<td >Exempted<br> from<br>
														Common<br> Entrance<br> Exam
													</td>
													<td >15 Marks<br>
													</td>
													<td >Exempted<br> from<br>
														Common<br> Entrance<br> Exam
													</td>
												</tr>
												<tr >
													<td >NCC ‘C’ Certificate holders who
														have participated in Republic Day Parade</td>
													<td >Exempted<br> from<br>
														Common<br> Entrance<br> Exam<br>
													</td>
													<td >Exempted<br> from<br>
														Common<br> Entrance<br> Exam<br>
													</td>
													<td >Exempted<br> from<br>
														Common<br> Entrance<br> Exam<br>
													</td>
												</tr>
												<tr>
													<td >Candidates having O+ Level
														Computer Certificate issued by DOEACC Society</td>
													<td >-</td>
													<td >15 Marks<br> (For Clerk/SKT
													</td>
													<td >-</td>
												</tr>
											</tbody>
										</table>

										<h4 style="text-align: center;">
											<span style="color: #0000ff;"><strong>Allotment
													of Bonus Marks Sportsmen to join Indian Indian Army</strong></span>
										</h4>

										<div class="table-responsive">

											<table class="table">
												<tbody class="row-hover">
													<tr>
														<td >Category</td>
														<td >Soldier <br> General <br>
															Duty
														</td>
														<td >Sol Clk/SKT, <br> Sol Tech,
															Sol Tech<br> (Avn &amp; Amn), <br> Sol NA,
														</td>
														<td >Soldier<br> Tradesmen<br>
														</td>
													</tr>
													<tr >
														<td >Candidates Represented India at<br>
															International level
														</td>
														<td >20 Marks</td>
														<td >20 Marks</td>
														<td >20 Marks</td>
													</tr>
													<tr >
														<td >Candidates Represented State at<br>
															National level
														</td>
														<td >15 Marks</td>
														<td >15 Marks</td>
														<td >15 Marks</td>
													</tr>
													<tr >
														<td >Represented District at State<br>
															level &amp; secured 1st/ 2nd<br> position
														</td>
														<td >10 Marks</td>
														<td >10 Marks</td>
														<td >10 Marks</td>
													</tr>
													<tr >
														<td >Represented University or<br>
															Regional Team at State/<br> National level &amp;
															secured 1st/<br> 2 nd position
														</td>
														<td >05 Marks</td>
														<td >05 Marks</td>
														<td >05 Marks</td>
													</tr>
												</tbody>
											</table>

											<h4 style="text-align: center;">
												<span style="color: #0000ff;"><strong>Add of
														Physical Marks &amp; Written Exam Marks Indian Army Rally
														Bharti</strong></span>
											</h4>

											<p>
												<span style="color: #0000ff;"><strong>PFT/Wrtten
														Exam Marks Indian Army Recruitment</strong></span>: How PFT Marks added in
												written examination/ final merit list in preparation of army
												result merit list for Soldier GD, Soldier Tech, Soldier NA,
												Soldier Clerk/ Store Keeper Technical, Soldier Tradesman for
												recruitment in the Indian army bharti given below:-
											</p>

											<div class="table-responsive" >

												<table class="table">
													<thead>
														<tr >
															<th >Category</th>
															<th >Physical Fitness<br> Test
																(Total Mks)
															</th>
															<th >COMMON<br> ENTRANCE<br>
																EXAMINATION<br> (Total Mks)
															</th>
															<th >Aptitude Test</th>
															<th >Maximum<br> Marks
															</th>
														</tr>
													</thead>
													<tfoot>
														<tr >
															<th >Soldier <br> (Trades<br>
																men)
															</th>
															<th >100</th>
															<th >100</th>
															<th >Aptitude Test for<br>
																Soldier Musician
															</th>
															<th >200</th>
														</tr>
													</tfoot>
													<tbody class="row-hover">
														<tr >
															<td >Soldier<br> (General Duty)
															</td>
															<td >100</td>
															<td >100</td>
															<td >-</td>
															<td >200</td>
														</tr>
														<tr >
															<td >Soldier<br> NA
															</td>
															<td >Qualify</td>
															<td >200</td>
															<td >-</td>
															<td >200</td>
														</tr>
														<tr >
															<td >Soldier<br> Tech
															</td>
															<td >Qualify</td>
															<td >200</td>
															<td >-</td>
															<td >200</td>
														</tr>
														<tr >
															<td >Soldier<br> Clk/SKT
															</td>
															<td >Qualify</td>
															<td >200</td>
															<td >-</td>
															<td >200</td>
														</tr>
													</tbody>
												</table>

											</div>



										</div>


									</div>

								</div>


							</div>
						</div>

					</div>


				</div>

				<!-- ################################################################################################ -->
			</div>
			<!-- ################################################################################################ -->
			<!-- / main body -->
			<div class="clear"></div>
		</main>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="bgded" style="background-color: lightgrey;">
		<div class="overlay2 light">
			<div id="shout" class="clear center">
				<!-- ################################################################################################ -->
				<h2 class="font-x2 btmspace-30 customh2">We believe in smart
					work and achieve success</h2>
				<!-- <ul class="nospace inline pushright">
        <li><a class="btn" href="#">Efficitur diam</a></li>
        <li><a class="btn" href="#">Fermentum nisi</a></li>
      </ul> -->
				<!-- ################################################################################################ -->
			</div>
		</div>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<span th:replace="/index::contact_section"></span>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<span th:replace="./index::copyright_section"></span>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
	<script type="text/javascript"
		src="../layout/scripts/custom/imagePreview.js"></script>
	<script type="text/javascript" src="../layout/scripts/custom/script.js"></script>


</body>
</html>