<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-links">
<title>ATCG</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css"
	media="all">
	<link rel="stylesheet" type="text/css" href="../layout/styles/custom/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta name="google-site-verification" content="uPheoKrDKD_TKdUDr0271sRVrEf0kr4TBzEUjZ-rtkg" />

<!-- New Gallery links and script -->

<link rel="stylesheet" type="text/css" href="./layout/styles/custom/newgallery/demo.css" />
		<link rel="stylesheet" type="text/css" href="./layout/styles/custom/newgallery/style.css" />
		<link rel="stylesheet" type="text/css" href="./layout/styles/custom/newgallery/elastislide.css" />
		<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow&v1' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />
		<noscript>
			<style>
				.es-carousel ul{
					display:block;
				}
			</style>
		</noscript>
		<script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">	
			<div class="rg-image-wrapper">
				{{if itemsCount > 1}}
					<div class="rg-image-nav">
						<a href="#" class="rg-image-nav-prev">Previous Image</a>
						<a href="#" class="rg-image-nav-next">Next Image</a>
					</div>
				{{/if}}
				<div class="rg-image"></div>
				<div class="rg-loading"></div>
				<div class="rg-caption-wrapper">
					<div class="rg-caption" style="display:none;">
						<p></p>
					</div>
				</div>
			</div>
		</script>

<!-- New Gallery links and script ends-->

</head>
<body id="top">
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- Top Background Image Wrapper -->
	<div class="bgded row100"
		style="background-image: url('images/demo/backgrounds/armyHomePageImage.jpg');">
		<div class="overlay">
			<!-- ################################################################################################ -->
			<!-- ################################################################################################ -->
			<!-- ################################################################################################ -->
			<div th:fragment="menu_bar" class="wrapper row1">
				<header id="header" class="clear">
					<!-- ################################################################################################ -->
					<div id="logo" class="fl_left">
						<h1>
							<a href="index">Army/Police Training Camp</a>
						</h1>
					</div>
					<nav id="mainav" class="fl_right">
						<ul class="clear">
							<li class="active"><a href="index">Home</a></li>
							<!-- <li><a class="drop" href="#">Pages</a>
              <ul>
                <li><a href="pages/gallery.html">Gallery</a></li>
                <li><a href="pages/full-width.html">Full Width</a></li>
                <li><a href="pages/sidebar-left.html">Sidebar Left</a></li>
                <li><a href="pages/sidebar-right.html">Sidebar Right</a></li>
                <li><a href="pages/basic-grid.html">Basic Grid</a></li>
              </ul>
            </li> -->
							<li><a class="active" href="gallery">Gallery</a> <!-- <ul>
                <li><a href="#">Level 2</a></li>
                <li><a class="drop" href="#">Level 2 + Drop</a>
                  <ul>
                    <li><a href="#">Level 3</a></li>
                    <li><a href="#">Level 3</a></li>
                    <li><a href="#">Level 3</a></li>
                  </ul>
                </li>
                <li><a href="#">Level 2</a></li>
              </ul> --></li>
							<li><a class="drop" href="#">Check Eligibility</a>
								<ul>
									<li><a href="armyEligibility">Army Uttarakhand</a></li>
									<li><a href="policeEligibility">Police Uttarakhand</a></li>

								</ul></li>
							<li><a class="drop" href="#">Check Openings</a>
								<ul>
									<li><a href="https://www.onlinegovtjob.com/apply-indian-army-jobs/" target="_blank">Indian Army(भारतीय सेना) </a></li>
									<li><a href="https://www.onlinegovtjob.com/category/police/" target="_blank">UK Police (उत्तराखंड पुलिस) </a></li>
									<li><a href="https://www.onlinegovtjob.com/category/airforce/" target="_blank">Indian Airforce (भारतीय वायु सेना) </a></li>
									<li><a href="https://www.onlinegovtjob.com/category/navy/" target="_blank">Indian Navy (भारतीय नौसेना)) </a></li>
									<li><a href="https://www.onlinegovtjob.com/category/ssc-job-recruitment/" target="_blank">SSC (Gd/Clerk/Other) (एसएससी) </a></li>
									
								</ul></li>
						</ul>
					</nav>
					<!-- ################################################################################################ -->
				</header>
			</div>
			<!-- ################################################################################################ -->
			<!-- ################################################################################################ -->
			<!-- ################################################################################################ -->
			<div id="pageintro" class="clear">
				<!-- ################################################################################################ -->
				<article>
					<h2 class="heading">Welcome to Army/Police Training Camp
						Gularbhoj , Uttarakhand</h2>
					<p>Explore our site to know more</p>
					<!-- <p>
						<a class="btn" href="#">Varius risus</a>
					</p> -->
				</article>
				<!-- ################################################################################################ -->
			</div>
			<!-- ################################################################################################ -->
			<!-- ################################################################################################ -->
			<!-- ################################################################################################ -->
		</div>
	</div>
	<!-- End Top Background Image Wrapper -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="wrapper customrow3">
		<main class="container clear">
			<!-- main body -->
			<!-- ################################################################################################ -->
			<article class="one_third first">
				<h2 class="font-x2">Who we are?</h2>
				<p class="btmspace-30">Our center is situated in Gularbhoj,Uttarakhand since 2012.
				    We provide physical and written exam
					training for army and police recruitments.
					We have vast experience of giving physical training to make our student ready
					for army and police physical/written test and other difficult challenges.
					We provide the environment which help our students adapt to any tough environment
					 and succeed to excellance.<br>Our goal is to develop the quality in students
					 , help them cross the hurdles and serve for their nation.<br>
					For joining our camp you can contact on the address
					 and mobile number provided at the bottom. 
					</p>
				<!-- <p><a class="btn" href="#">Suspendisse euismod</a></p> -->
			</article>
			<article class="two_third">
				<ul class="nospace group">
					<li class="one_half first btmspace-30">
						<h2 class="font-x2">Our Training Programs</h2>
						<p>We have a custom structured training program which 
						include circuit physical training which is combination of 100m,200m,400m,
						merathon race etc.. followed by written exam preparation.
						Performance of each student is examined on every scale
					    to make our student better each day.</p>
					</li>
					<li class="one_half btmspace-30">
						<h2 class="font-x2">About Trainer</h2>
						<p>Retired Subedar Inder Singh Rathour has served in Indian Army for 22 years.
						He was one of the finest trainer in Indian Army who has trained many new army joiners.
						Using his experience in army he is training students who have dreams to join army 
						and police.
						</p>
					</li>
					<li class="one_half first">
						<h2 class="font-x2 uppercase">Training Fee</h2>
						<p>Our nominal fee is 6000 rs/month which is combo of physical training,
						written preparation and accomdation.</p>
					</li>
					<li class="one_half">
						<h2 class="font-x2">Accomodation</h2>
						<p>Hostel and food facility is available in the camp
						whose fees is covered in combo pack.</p>
					</li>
				</ul>
			</article>
			<!-- ################################################################################################ -->
			<!-- / main body -->
			<div class="clear"></div>
		</main>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- <div class="split clear light rightaligned" style="background-image:url('images/demo/backgrounds/armyImage2.jpg');background-size: auto">
  <div class="box"> 
    ################################################################################################
    <div class="nospace group services">
      <article class="one_half first btmspace-50"><i class="fa fa-mortar-board"></i>
        <h4><a href="#">Our Achievements</a></h4>
        <p class="nospace">We have 90% track records of our students getting selected in army/police physical test. Thousands of our student are already serving for the nation.</p>
      </article>
      <article class="one_half btmspace-50"><i class="fa fa-binoculars"></i>
        <h4><a href="#">Luctus venenatis</a></h4>
        <p class="nospace">Nulla porta vulputate nibh, malesuada consequat velit finibus et. Sed dignissim fringilla tincidunt! Quisque pharetra et erat ac ultricies vivamus. &hellip;</p>
      </article>
      <article class="one_half first"><i class="fa fa-newspaper-o"></i>
        <h4><a href="#">Nam feugiat dui</a></h4>
        <p class="nospace">Imperdiet enim ex, eu faucibus ligula blandit sit amet. Nulla aliquet in ipsum vel egestas. Aenean faucibus faucibus erat, eget tincidunt dui aliquam eu &hellip;</p>
      </article>
      <article class="one_half"><i class="fa fa-connectdevelop"></i>
        <h4><a href="#">Malesuada risus</a></h4>
        <p class="nospace">Integer leo dolor, ultrices ut dolor et, lacinia tempor nisi. Curabitur finibus augue in rutrum fringilla? Suspendisse pulvinar vulputate nulla in placerat. &hellip;</p>
      </article>
    </div>
    ################################################################################################
  </div>
</div> -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- <div class="wrapper">
  <ul class="nospace group clrbox">
    <li class="mt-green">
      <article>
        <h4 class="heading">Eleifend donec sagittis</h4>
        <p>Vestibulum mollis fringilla odio a efficitur duis pharetra ac nibh ac efficitur ut eleifend consectetur porttitor pellent esque &hellip;</p>
        <p><a class="btn" href="#">Donec rutrum</a></p>
      </article>
    </li>
    <li class="mt-orange">
      <article>
        <h4 class="heading">Integer sed iaculis elit</h4>
        <p>Phasellus non neque nulla curabitur varius sagittis libero, vel commodo nisl aliquet nec donec vel ex metus faucibus &hellip;</p>
        <p><a class="btn" href="#">Convallis laoreet</a></p>
      </article>
    </li>
    <li class="mt-purple">
      <article>
        <h4 class="heading">Nullam mollis auctor</h4>
        <p>Tellus ac facilisis dolor nullam vestibulum massa volutpat tristique commodo nunc purus pulvinar lacus quis hendrerit &hellip;</p>
        <p><a class="btn" href="#">Nulla quis leo</a></p>
      </article>
    </li>
    <li class="mt-red">
      <article>
        <h4 class="heading">Integer consequat arcu</h4>
        <p>Ut placerat felis sodales accumsan vulputate sem eros dapibus urna quis tristique urna odio vel arcu vivamus accumsan &hellip;</p>
        <p><a class="btn" href="#">Tincidunt posuere</a></p>
      </article>
    </li>
  </ul>
</div> -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="wrapper">
		<ul class="nospace group latest">
			<li class="one_half nospace first">
				<article>
					<h2 class="heading">OUR ACHIEVEMENTS</h2>
					<p style="font-style: italic; font-size: x-large;">We have 90%
						track records of our students getting selected in army/police
						physical test.<br> Thousands of our student are already serving for
						the nation in Indian Army.<br>Many of our students got selected in Uttarakhand 
						Police.<br>Our students are successfull in cracking almost all physical test
						such as :<br>Uttarakhand Bandi Rakshak<br>Uttarakhand Custom Police Department
						<br>ITBP<br>SSB<br>CISF<br>AirForce<br>And many more...
						</p>
					<!-- <p><a class="btn" href="#">Vel tortor</a></p> -->
				</article>
			</li>
			
			<li class="one_half nospace">
				<figure>
					<img class="mySlides" src="images/demo/backgrounds/armyImage2.jpg" alt="">
					<img class="mySlides" src="images/demo/gallery/army5.jpg" alt="" >
					<img class="mySlides" src="images/demo/gallery/army10.jpg" alt="">
					<img class="mySlides" src="images/demo/gallery/army12.jpg" alt="">		
				</figure>
			</li>
		</ul>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="bgded" style="background-color: lightgrey;">
		<div class="overlay2 light">
			<div id="shout" class="clear center">
				<!-- ################################################################################################ -->
				<h2 class="font-x2 btmspace-30 customh2">We believe in smart
					work and achieve success</h2>
				<!-- <ul class="nospace inline pushright">
        <li><a class="btn" href="#">Efficitur diam</a></li>
        <li><a class="btn" href="#">Fermentum nisi</a></li>
      </ul> -->
				<!-- ################################################################################################ -->
			</div>
		</div>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div th:fragment="contact_section" class="wrapper row4">
		<footer id="footer" class="clear">
			<!-- ################################################################################################ -->
			<div style="text-align: center;">
				<h6 class="title">Contact and Address</h6>
				<address class="btmspace-15">
					Gularbhoj Army/Police Training Camp<br> Gularbhoj
					Mandi,Gularbhoj,Udham Singh Nagar , Uttarakhand <br>
					Town:Gadarpur<br> Postcode/Zip :262401
				</address>
				<ul class="nospace">
					<li class="btmspace-10"><i class="fa fa-phone"></i> +91
						9756301242</li>
					<li><i class="fa fa-envelope-o"></i> rrathour.rohit23@gmail.com</li>
				</ul>
			</div>
			
			<!-- ################################################################################################ -->
		</footer>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div th:fragment="copyright_section" class="wrapper row5">
		<div id="copyright" class="clear">
			<!-- ################################################################################################ -->
			<p class="fl_left">
				Copyright &copy; 2020 - All Rights Reserved
			</p>
			<p class="fl_right">
				Website by <a target="_blank" href="https:army-training-camp-gularbhoj.herokuapp.com"
					>ATCGU</a>
			</p>
			<!-- ################################################################################################ -->
		</div>
		<!-- JAVASCRIPTS -->
		<script src="layout/scripts/jquery.min.js"></script>
		<script src="layout/scripts/jquery.backtotop.js"></script>
		<script src="layout/scripts/jquery.mobilemenu.js"></script>
		<script type="text/javascript" src="../layout/scripts/custom/slideShow.js" ></script>
		
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>


</body>
</html>