<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<span th:replace="./index::header-links"></span>
<body id="top">

	<!-- Top Background Image Wrapper -->
	<div class="bgded row100"
		style="background-image: url('../images/demo/backgrounds/armyHomePageImage.jpg');">
		<div class="overlay">
			<span th:replace="./index::menu_bar"></span>
		</div>
	</div>
	<!-- End Top Background Image Wrapper -->

	<!-- ################################################################################################ -->
	<div class="wrapper row3">
		<main class="containerG clear">

			<!-- main body -->

			<h1>
				<span style="color: #0000ff;"><strong>Uttarakhand
						Police Eligibility Criteria Check</strong></span>
			</h1>
			<p style="text-align: Left;">The Candidates who are going to
				apply for Uttarakhand Police SI/ Constable Recruitment 2020 can
				check the required Uttarakhand Police Constable Eligibility Criteria
				given below :- </p>

			<table class="table">
				<tbody >
					<tr>
						<td style="text-align: center;font-size: 12pt; color: #0000ff;" ><strong>Post
								Name</strong></td>
						<td style="text-align: center; font-size: 12pt; color: #0000ff;" ><strong>Qualification</strong></td>
					</tr>
					<tr>
						<td style="text-align: center;" >Constable</td>
						<td style="text-align: center;" >Must be qualified
							12<span style="font-size: 13.3333px;">th</span>&nbsp;Class
						</td>
					</tr>
					<tr>
						<td style="text-align: center;" >Head Constable</td>
						<td style="text-align: center;">Should be
							qualified 12<span style="font-size: 13.3333px;">th</span>&nbsp;Class
						</td>
					</tr>
					<tr>
						<td style="text-align: center;" >Sub Inspector
							(SI)</td>
						<td style="text-align: center;">Should be Posses
							Graduation Degree (In Any Stream)</td>
					</tr>
					<tr>
						<td style="text-align: center;" >Home Guard</td>
						<td style="text-align: center;">Should be
							qualified 10<span style="font-size: 13.3333px;">th</span>&nbsp;Class
						</td>
					</tr>
					<tr>
						<td style="text-align: center;" >Assistant Sub Inspector (ASI)</td>
						<td style="text-align: center;" >Graduation Degree
							(Any Stream)</td>
					</tr>
				</tbody>
			</table>

			<h3 style="color: #0000ff;" >Age Limit For Uttarakhand
				Police Bharti 2020</h3>

			<ul  class="list-group">
				<li class="list-group-item">For Constable:- Candidates must have 18 years minimum and
					22 Years Maximum age limit.</li>
				<li class="list-group-item">For ASI:- Minimum age should be 20 years and maximum age
					should be 28 years.</li>
				<li class="list-group-item">For ACP/ DSP Post:- Applicants&nbsp;must have 21 years
					minimum and 42 Years Maximum age limit.</li>
				<li class="list-group-item">Age relaxation will be applicable on the board norms.</li>
			</ul>

			<h3 style=" color: #0000ff;">Physical Criteria</h3>

			<table class="table">
				<tbody >
					<tr>
						<td style="text-align: center; font-size: 12pt; color: #0000ff;" ><strong>Standard</strong></td>
						<td style="text-align: center; font-size: 12pt; color: #0000ff;" ><strong>Male</strong></td>
						<td style="text-align: center; font-size: 12pt; color: #0000ff;" ><strong>Female</strong></td>
					</tr>
					<tr>
						<td style="text-align: center;" >Height</td>
						<td style="text-align: center;" >168 Cms</td>
						<td style="text-align: center;" >157 Cms</td>
					</tr>
					<tr>
						<td style="text-align: center;" >Chest</td>
						<td style="text-align: center;" >81-86 cms</td>
						<td style="text-align: center;" >—</td>
					</tr>
					<tr>
						<td style="text-align: center;" >Weight</td>
						<td style="text-align: center;" >Depending on
							height</td>
						<td style="text-align: center;" >Minimum 40 Kg</td>
					</tr>
				</tbody>
			</table>

			<h3 style=" color: #0000ff;">Selection Process of
				Uttarakhand Police</h3>
			<p style="">Candidates will be selection on
				the below given steps :-</p>

			<ul  class="list-group">
				<li class="list-group-item">Written Test</li>
				<li class="list-group-item">Physical Standard Test</li>
				<li class="list-group-item">Medical Test</li>
				<li class="list-group-item">Documents Verification</li>
				<li class="list-group-item">Interview</li>
			</ul>

			<p>
				<a href="http://uttarakhandpolice.uk.gov.in/" target="_blank"><strong>Check
						Uttarakhand Police official page</strong></a>
			</p>





			<!-- / main body -->
			<div class="clear"></div>
		</main>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<div class="bgded" style="background-color: lightgrey;">
		<div class="overlay2 light">
			<div id="shout" class="clear center">
				<!-- ################################################################################################ -->
				<h2 class="font-x2 btmspace-30 customh2">We believe in smart
					work and achieve success</h2>
				<!-- <ul class="nospace inline pushright">
        <li><a class="btn" href="#">Efficitur diam</a></li>
        <li><a class="btn" href="#">Fermentum nisi</a></li>
      </ul> -->
				<!-- ################################################################################################ -->
			</div>
		</div>
	</div>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<span th:replace="/index::contact_section"></span>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<span th:replace="./index::copyright_section"></span>
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
	<script type="text/javascript"
		src="../layout/scripts/custom/imagePreview.js"></script>
	<script type="text/javascript" src="../layout/scripts/custom/script.js"></script>


</body>
</html>